{%extends 'base.html'%}
{%load static%}

{%block metatags%}
<meta name="keywords" content="Inspirational and motivational quotes and blogs.">
<meta name="description" content="Motivative Quotes produces amazing content that motivate you to achieve your goal.">

<meta property="og:url" content="https://ieltscalculator.net/blogs"/>
<meta property="og:title" content="Inspirational and motivational quotes and blogs." />
<meta property="og:description" content="Motivative Quotes produces amazing content that motivate you to achieve your goal." />
<meta property="og:image"  content="https://motivativequotes.com/static/web.jpg"/>

<meta name="twitter:title" content="Inspirational and motivational quotes and blogs.">
<meta name="twitter:description" content="Motivative Quotes produces amazing content that motivate you to achieve your goal.">
<meta name="twitter:image" content="https://motivativequotes.com/static/web.jpg">
<meta name="twitter:card" content="summary_large_image">
{%endblock%}

{%block style%}
<link rel="stylesheet" href="{%static 'styles/blog_style.css'%}">
{%endblock%}

{%block title%}
<title>Ielts Score Calculator | Calculate your overall IELTS Band Score</title>
{%endblock%}


{%block main%}
<section class="gap_">
    <div class="articles">
    
        <article>
            <a href=""> <img class="art_img" src="https://images.unsplash.com/photo-1648737966968-5f50e6bf9e46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{blog.title}}"></a>
            <div class="pad_card">
                <a href="" class="tags">App Development</a>
                <a class="title_link" href="">10+ best resources for free stock photos and videos</a> 
                <p class="views">
                    <span>Aug 15 2022</span>
                    <span class="spacing_">/</span>
                    <span>BY ADMIN</span>
                </p>
            </div>
        </article>
    
        <article>
            <a href=""> <img class="art_img" src="https://images.unsplash.com/photo-1648737966968-5f50e6bf9e46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{blog.title}}"></a>
            <div class="pad_card">
                <a href="" class="tags">App Development</a>
                <a class="title_link" href="">10+ best resources for free stock photos and videos</a> 
                <p class="views">
                    <span>Aug 15 2022</span>
                    <span class="spacing_">/</span>
                    <span>BY ADMIN</span>
                </p>
            </div>
        </article>
    
        <article>
            <a href=""> <img class="art_img" src="https://images.unsplash.com/photo-1648737966968-5f50e6bf9e46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{blog.title}}"></a>
            <div class="pad_card">
                <a href="" class="tags">App Development</a>
                <a class="title_link" href="">10+ best resources for free stock photos and videos</a> 
                <p class="views">
                    <span>Aug 15 2022</span>
                    <span class="spacing_">/</span>
                    <span>BY ADMIN</span>
                </p>
            </div>
        </article>
    
    <article>
        <a href=""> <img class="art_img" src="https://images.unsplash.com/photo-1648737966968-5f50e6bf9e46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{blog.title}}"></a>
        <div class="pad_card">
            <a href="" class="tags">App Development</a>
            <a class="title_link" href="">10+ best resources for free stock photos and videos</a> 
            <p class="views">
                <span>Aug 15 2022</span>
                <span class="spacing_">/</span>
                <span>BY ADMIN</span>
            </p>
        </div>
    </article>
    
    <article>
        <a href=""> <img class="art_img" src="https://images.unsplash.com/photo-1648737966968-5f50e6bf9e46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="{{blog.title}}"></a>
        <div class="pad_card">
            <a href="" class="tags">App Development</a>
            <a class="title_link" href="">10+ best resources for free stock photos and videos</a> 
            <p class="views">
                <span>Aug 15 2022</span>
                <span class="spacing_">/</span>
                <span>BY ADMIN</span>
            </p>
        </div>
    </article>
    </div>
    </section>
{%endblock%}

{%block script%}
{%endblock%}