{%extends 'base.html'%}
{%load static%}

{%block metatags%}
<meta name="keywords" content="ielts score calculator, calculate listening score, ielts academic score calculator">
<meta name="description" content="Ieltscalculator helps you by providing useful tips for both academic and general ielts test.">

<meta property="og:url" content="https://ieltscalculator.net" />
<meta property="og:title" content="{{category}} tips for your desired score." />
<meta property="og:description" content="Ieltscalculator helps you by providing useful tips for both academic and general ielts test." />
<meta property="og:image"  content="https://ieltscalculator.net/calculator.png"/>

<meta name="twitter:title" content="{{category}} tips for your desired score.">
<meta name="twitter:description" content="Ieltscalculator">
<meta name="twitter:image" content="https://ieltscalculator.net/calculator.png">
<meta name="twitter:card" content="summary_large_image">
{%endblock%}

{%block style%}
<link rel="stylesheet" href="{%static 'styles/blog_style.css'%}">
{%endblock%}

{%block title%}
<title>{{category}} tips for your desired score.</title>
{%endblock%}


{%block main%}
<section class="gap_">
<div class="articles">

    {%for blog in blogs%}
    <article>
        <a href="{%url "blog-details" blog.slug%}"> <img class="art_img" src="{{blog.featuredImage.url}}" alt="{{blog.title}}"></a>
        <div class="pad_card">
            <a href="{%url "category" blog.category.slug%}" class="tags">{{blog.category}}</a>
            <a class="title_link" href="{%url "blog-details" blog.slug%}">{{blog.title}}</a> 
            <p class="views">
                <span>{{blog.createdAt|date}}</span>
                <span class="spacing_">/</span>
                <span>BY ADMIN</span>
            </p>
        </div>
    </article>
    {%empty%}
    <div style="margin-top: 3rem;font-size:18px;">
    <span>
        Thanks for your interest 😄. The articles will be uploaded soon.
    </span>
    <br>
    <div style="margin-top: 1.5rem;">
        <a href="/"><i class="fas fa-arrow-left"></i> Explore Others</a>
    </div>
    </div>
    {%endfor%}

</div>

<div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
            <a href="?page=1"> First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
  
        <a href="#" class="current" style="background: #6b3b3b8c;">
             {{ blogs.number }} of {{ blogs.paginator.num_pages }}
        </a>
  
        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">Next</a>
            <a href="?page={{ blogs.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
  </div>
</section>
{%endblock%}

{%block script%}
{%endblock%}