{%extends 'base.html'%}
{%load static%}

{%block metatags%}
<meta name="keywords" content="ielts score calculator, calculate listening score, ielts academic score calculator">
<meta name="description" content="Contact us for any queries">

<meta property="og:url" content="https://ieltscalculator.net" />
<meta property="og:title" content="Contact Us" />
<meta property="og:description" content="Contact us for any queries" />
<meta property="og:image"  content="https://ieltscalculator.net/calculator.png"/>

<meta name="twitter:title" content="Contact Us">
<meta name="twitter:description" content="Contact us for any queries">
<meta name="twitter:image" content="https://ieltscalculator.net/calculator.png">
<meta name="twitter:card" content="summary_large_image">
{%endblock%}

{%block style%}
<link rel="stylesheet" href="{%static 'styles/contact.css'%}">
{%endblock%}

{%block title%}
<title>Contact Us</title>
{%endblock%}


{%block main%}
<section class="gap_">
    <h2 class="top_breadcum">Contact Us</h2>
    <div class="form_cont make_c">
        <div class="form_">
            <form action="" method="post">
                {%csrf_token%}
                <div>
                    <p>Name</p>
                    <input type="text" placeholder="Enter your full name" required name="full_name">
                </div>
                <div>
                    <p>Email</p>
                    <input type="email" placeholder="Enter your valid email" required name="email">
                </div>
                <div>
                    <p>Message</p>
                    <textarea required name="message" id="" cols="30" rows="6" placeholder="Your message here.."></textarea>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</section>
{%endblock%}

{%block script%}
{%endblock%}